#header {
	width:100%;
	margin-top:0px;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	background:#D0A33E;
	background: -moz-linear-gradient(top, #9A7319, orange);
	background: -webkit-gradient(linear, left top, left bottom, from(#3D3D3D), to(#3D3D3D));
}

#header a {
	color: rgb(251, 128, 9); /*#E2DDB5;*/
	font-family:Helvetica, Arial, sans-serif;
}

#globalNav {
	width:100%;
	margin-top:0px;
	display:inline;
}

#globalNav li {
	display:block;
	float:left;
	padding:2px 50px;
}

#loginWindow form, #userDropdown {
	margin-top:0px;
	padding:10px;
	background:black;
	width:250px;
	position:fixed;
	right:0px;
	display:none;
}

#loginWindow {
	display:none;
	float:right;
}

#user {
	display:inline;
	float:right;
	display:none;
}
