#header {
	width:100%;
	margin-top:0px;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	background:black;

}

#globalNav {
	width:100%;
	margin-top:0px;
	display:inline;
}

#globalNav li {
	display:block;
	float:left;
	padding:2px 20px;
	width:100px;
}

#loginWindow form, #user div {
	margin-top:0px;
	padding:10px;
	background:black;
	width:250px;
	position:fixed;
	right:0px;
	display:none;
}

#loginWindow {
	display:none;
	float:right;
}

#user {
	display:inline;
	float:right;
	display:none;
}

.error_message {
	color:red;
	opacity:0;
}