body {
	background: #3C5675; /*rgb(23, 41, 63);/ *#DB7E40;*/
}

#load_new_posts{
	background: rgb(251, 128, 9);
}

a {
	color: rgb(251, 128, 9); /*#E2DDB5;*/
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#main_content {
	float:left;
	width: 55%
}

#right_content {
	float:left;
	width:25%;
	border:1px solid black;
	background: rgb(251, 128, 9);
}

#footer {
	clear:both;
	width:110%;
	position:fixed;
	bottom:0;
	left:0;
	margin:0;
	padding:3px 10px;
	background:#261E1E;
	color:white;
}

.post{
	color: #261E1E;
	padding:15px;
	background:rgb(251,251,255); /*#A85E45;*/
	border-color:#593733;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    margin:20px 5px;
}

.content {
	font-size:13pt;
}

.user {
	float:left;
	font-size:9pt;
}

.date {
	float:left;
	margin:0 4px 0 0;
	font-size:9pt;
}

.voting {
	clear:both;
	size:20pt;
	font-size:9pt;
}

#new_post {
	font-size:13pt;
	padding:3px 15px;
}

textarea {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    background:#C2816B;
    border-width:0;
	height:100px;
	width: 90%;
	margin:8px 8px;
}

.button{
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
	border:2px outset #DB7E40;
	padding:3px;
	background:#C2816B;
	cursor:pointer;
	float:left;
}

.button:active{
	border:2px inset #DB7E40;
}

.close{
	border:1px solid black;
	background:red;
	float:right;
	font-family:courier;
	padding:2px 6px;
}

label {
	clear:both;
	float:left;
	width:100px;
}

#login_username, #login_password {
	float:left;
}